* {
  /* border: solid olivedrab 1px; */
	font-family: 'Open Sans', sans-serif;
}

/* Dark #2C3531
Dark Blue #116466
beige1 #D9B08C
beige2 #FFCB9A
LightBlue #D1E8E2 */

body {
  margin: 3%;
  color: white;
  /* background: rgb(33, 17, 102); */
  background: linear-gradient(310deg, rgb(187, 80, 214) 40%, rgb(63, 20, 151) 73%);
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("stock-photo2.jpg");
  background-image: url("stock-photo2.jpg"); */
}

h3 {
  font-size: 26px;
}

header {
  /* color: #D9B08C; */
  display: flex;
  grid-area: header;
  height: 52vh;
  min-height: 220px;
}

div {
  display: flex;
}

.header__h1--title {
  border-bottom: ridge white;
  font-size: 4vw;
  margin-top: 1%;
  text-shadow: -5px -5px 5px black;
  width: 94vw;
  
}

#section__card--info {
  border-style: dotted;
  border-radius: 10px;
  /* height: 27vh;
  min-height: 30px; */
  padding: 6%;
  text-align: left;
  
}

.section__compare {
  font-size: 23px;
  padding: 45px;
}

.section__miles--walked, p {
  font-size: 28px;
}

main {
  /* color: #D1E8E2; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  /* grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer"; */
}

.article__info {
  grid-area: sidebar;
}

.article__water--daily {
  grid-area: footer;
}

.header__section--left {
  display: inline-block;
  width: 69%;
}

.header__section--info {
  display: inline-block;
  width: 45%;
  padding-top: 9%;
}

.section__card {
  border: ridge white;
  margin: 12px;
  text-align: center;
  border-radius: 50px;
}

.section__water--daily,
.section__water--weekly {
  border-color: #D1E8E2 
}


